

.Projets{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projets-boxes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.proj-j{
    max-width: 400px;
    height: 200px;
}

.image {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.proj-i {
    width: 300px;
    height: 350px;
    border-radius: 10px;
    margin: 30px 50px;
    overflow: hidden;
    box-shadow: 0 10px 29px 0 rgba(68,88,144,.1);



}


@media (max-width:500px){
    .Projets {
        width: 100%;
        height: 100%;
    }
    .proj-j {
        width: 350px;
        height: 250px;
    }
}


